{% extends "document.html" %}

{% block body %}
    <section id="vAnimeRead">
        <div id="landing" >
            <div class="container" 
            style="background:linear-gradient(to right, rgba(53, 64, 64, 1) 10%, transparent), url({{anime.attributes.coverImage.original}})no-repeat center center;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="details">
                            <h1>{{anime.attributes.canonicalTitle}}</h1>
                            <p>
                                <span>{{anime.attributes.startDate|formatDate("YYYY")}}</span>
                                <span class="line">{{anime.attributes.ageRating}}</span>
                                <span class="line">{{anime.attributes.ageRatingGuide}}</span>
                                <span class="line">{{anime.attributes.episodeCount}} Episodes</span>
                            </p>
                            <h2>{{anime.attributes.synopsis}}</h2>
                        </div>
                        <div class="pt-3">
                            <a href="#episodes" class="accent-button">View Episodes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="episodes">
            <div class="container">
                <div class="header d-block d-lg-flex flex-xs-column">
                    <h2>Episodes</h2>
                    <p>{{anime.attributes.canonicalTitle}}</p>
                </div>
                <div class="content">
                    <h3>Release Date: {{anime.attributes.startDate|formatDate("MMM DD YYYY")}}</h3>
                    <p>{{anime.attributes.description}}</p>
                </div>
                <div class="episodes">
                    <div v-if="!onLoad" v-for="episode in episodesData.episodes" class="card">
                        <div class="card-header">
                            <img :src="episode.attributes.thumbnail.original" alt="Thumbnail">
                        </div>
                        <div class="card-content">
                            <h4>
                                <span>${episode.attributes.number}. ${episode.attributes.canonicalTitle}</span>
                                <span class="epiLength">${episode.attributes.length} Minutes</span>
                            </h4>
                            <p>${shortenString(episode.attributes.synopsis)}</p>
                        </div>
                    </div>
                    <div v-else  class="card onload">
                        <div  class="card-header">
                            <img src="{{app.url}}/images/card-on-load.png" alt="">
                        </div>
                        <div  class="card-content">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="links">
                        <a @click="getLink('first')">First</a>
                        <a @click="getLink('last')">Last</a>
                        <a v-show="episodesData.links.prev" @click="getLink('prev')">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" viewBox="0 0 192.701 192.701" style="enable-background:new 0 0 192.701 192.701;" xml:space="preserve">
                            <g>
                                <g fill="currentColor" id="Double_Chevron_Left">
                                    <path d="M29.641,96.345l74.54-75.61c4.704-4.74,4.704-12.439,0-17.179c-4.704-4.74-12.319-4.74-17.011,0l-82.997,84.2
                                        c-4.511,4.559-4.535,12.608,0,17.191l83.009,84.2c4.692,4.74,12.319,4.74,17.011,0c4.704-4.74,4.704-12.439,0-17.179
                                        L29.641,96.345z"/>
                                    <path d="M113.853,96.345l74.54-75.61c4.704-4.74,4.704-12.439,0-17.179c-4.704-4.74-12.319-4.74-17.011,0l-82.997,84.2
                                        c-4.511,4.559-4.535,12.608,0,17.191l82.997,84.2c4.704,4.74,12.319,4.74,17.011,0c4.704-4.74,4.704-12.439,0-17.179
                                        L113.853,96.345z"/>
                                </g>
                            </g>
                            </svg>
                        </a>
                        <a v-show="episodesData.links.next" @click="getLink('next')">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="15px" viewBox="0 0 192.689 192.689" style="enable-background:new 0 0 192.689 192.689;" xml:space="preserve">
                            <g>
                                <g fill="currentColor" id="Double_Chevron_Right">
                                    <path d="M188.527,87.755l-83.009-84.2c-4.692-4.74-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l74.54,75.61
                                        l-74.54,75.61c-4.704,4.74-4.704,12.439,0,17.179c4.704,4.74,12.319,4.74,17.011,0l82.997-84.2
                                        C193.05,100.375,193.062,92.327,188.527,87.755z"/>
                                    <path d="M104.315,87.755l-82.997-84.2c-4.704-4.74-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l74.528,75.61
                                        l-74.54,75.61c-4.704,4.74-4.704,12.439,0,17.179s12.319,4.74,17.011,0l82.997-84.2C108.838,100.375,108.85,92.327,104.315,87.755
                                        z"/>
                                </g>
                            </g>
                            </svg>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-my-mixins.js"></script>
    <script>
        var vAnimeRead = new Vue({
            el: '#vAnimeRead',
            delimiters: ["${", "}"],
            mixins: [
                VueMyMixins.mixin
            ],
            components: {
            },
            data: {
                episodeLimit: 10,
                animeId: '{{anime.id}}',
                episodesData: [],
                onLoad: true

            },
            async mounted ()  {
                this.episodesData = await this.getEpisodes(`https://kitsu.io/api/edge/episodes?page[limit]=10&page[offset]=0&filter[mediaId]=${this.animeId}`)
                this.onLoad = false
            },
            methods: {
                getEpisodes: (query) => {
                    return axios.get(query, {
                        headers: {
                            'Accept': 'application/vnd.api+json',
                            'Content-Type': 'application/vnd.api+json'
                        }
                    }).then(response => {
                        let episodes = response.data.data
                        let links = response.data.links
                        let episodesCount = response.data.meta.count
                        return {
                            episodes, links, episodesCount
                        }
                    })

                },
                getLink: async (value) => {
                    try {
                        vAnimeRead.onLoad = true
                        let query = vAnimeRead.episodesData.links[value]
                        let response = await axios.get(`${query}`, {
                            headers: {
                                'Accept': 'application/vnd.api+json',
                                'Content-Type': 'application/vnd.api+json'
                            }
                        })
                    
                        let episodes = response.data.data
                        episodes = _.filter(episodes, (episode) => {
                            return episode.attributes.canonicalTitle
                        })
                        let links = response.data.links
                        let episodesCount = response.data.meta.count
                        let data = {
                            episodes,
                            links,
                            episodesCount
                        }
                        vAnimeRead.episodesData = data
                        vAnimeRead.onLoad = false
                        return
                    }catch (error) {
                        console.log(error)
                    }
                }
                
            }
        })    
    </script>
    
{% endblock %}